<h1>Profile page</h1>

<p><b>First Name: {{results.firstname}} </b> </p>
<p><b>Last Name: {{results.lastname}}</b> </p>
<p><b>Gender:{{results.gender}}</b>   </p>
<p><b>Email: {{results.email}}</b>  </p>
<p><b>Phone no:{{results.phno}}</b>  </p>
<p><b>Password:{{results.password}}</b>  </p>

<h2>Characteristics</h2>
<p><b>Smoking habits: {{results.dietaryhabit}}</b> </p>
<p><b>Dietary habits: {{results.smokinghabit}}</b> </p>
<p><b>Minimum Budget:{{results.min_budget}}</b></p>
<p><b>Maximum Budget:{{results.max_budget}}</b>  </p>
<p><b>Locality:</b>  </p>
<p><b>Drinking Habits:{{results.alcoholichabit}}</b>  </p>
<p><b>Room sharing:{{results.room_sharing}}</b> </p>
<p><b>Earliest Move in date:{{results.earliest_move_in_date}}</b> </p>
<p><b>Latest Move in date:{{results.latest_move_in_date}}</b> </p>

<a href="/signup">EDIT PROFILE</a>