<form action="/edit" method="post">
<div class="left-div">
<h1>Profile page</h1>
<div class="form-group">
<label for="firstname"><b>First Name</b></label>
<input type="text" name="firstname" value={{results.firstname}}>
</div>
<div class="form-group">
<label for="lastname"><b>Last Name</b></label>
<input type="text" name="lastname" value={{results.lastname}}>
</div>
<div class="form-group">
<label for="gender"><b>Gender</b></label>
<input type="text" name="gender" value={{results.gender}}>
</div>
<div class="form-group">
<label for="phno"><b>PhoneNumber</b></label>
<input type="text" name="phno" value={{results.phno}}>
</div>
<div class="form-group">
<label for="password"><b>Password</b></label>
<input type="text" name="password" value={{results.password}}>
</div>
</div>

<div class="right-div">
<h2>Characteristics</h2>
<div class="form-group">
<label for="dietaryhabit"><b>Dietary Habit</b></label>
<input type="text" name="dietaryhabit" value={{results.dietaryhabit}}>
</div>
<div class="form-group">
<label for="smokinghabit"><b>Smoking Habit</b></label>
<input type="text" name="smokinghabit" value={{results.smokinghabit}}>
</div>
<div class="form-group">
<label for="min_budget"><b>Minimum budget</b></label>
<input type="text" name="min_budget" value={{results.min_budget}}>
</div>
<div class="form-group">
<label for="max_budget"><b>Maximum Budget</b></label>
<input type="text" name="max_budget" value={{results.max_budget}}>
</div>
<div class="form-group">
<label for="locality"><b>Locality</b></label>
<input type="text" name="locality" value=>
</div>
<div class="form-group">
<label for="alocoholichabit"><b>Alcoholic Habit</b></label>
<input type="text" name="alcoholichabit" value={{results.alcoholichabit}}>
</div>
<div class="form-group">
<label for="room_sharing"><b>Room Sharing</b></label>
<input type="text" name="room_sharing" value={{results.room_sharing}}>
</div>
<div class="form-group">
<label for="earliest_move_in_date"><b>Earliest Move In date</b></label>
<input type="text" name="earliest_move_in_date" value={{results.earliest_move_in_date}}>
</div>
<div class="form-group">
<label for="latest_move_in_date"><b>Latest Move In date</b></label>
<input type="text" name="latest_move_in_date" value={{results.latest_move_in_date}}>
</div>
</div>
<button type="submit" class="btn btn-primary">SAVE PROFILE</button>
</form>
