
<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
div.container {
    outline-style: solid;
    outline-width: thick; 
    padding-bottom: 20px;
    padding-top: 10px;
    width: 1000px;
    height: 680px;
}   
</style>
</head>
<body>  
<div class="container" style= "margin-top:50px";>
<img src="test.jpg" class="img-thumbnail" alt="Cinque Terre" height="300" width="300">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">BASIC DETAILS</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">CHARACTERISTICS</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">SETTINGS</a>
</div>


<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
   
  <form>
  <div class="col-lg-6">
  <label for="exampleFormControlInput1">Username</label>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Mr.</a>
          <a class="dropdown-item" href="#">Ms.</a>
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
  </div>


  <div class="col-lg-6">
  <label for="exampleFormControlInput1">Email</label>
  <div class="input-group">
   <div class="input-group-addon">
   <i class="fa fa-envelope-o"></i> 
   </div>
   <input class="form-control" id="email" name="email" type="text"/>
   </div> 
  </div>

  <div class="col-lg-6">
  <label for="exampleFormControlInput1">Phone Number</label>
  <div class="input-group">
   <div class="input-group-addon">
   <i class="fa fa-phone"></i> 
   </div>
   <input class="form-control" id="number" name="number" type="text"/>
   </div> 
  </div>


  <div class="col-lg-6">
  <label for="exampleFormControlInput1">Gender</label>
  <div class="input-group">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked><i class="fa fa-male"></i>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> <i class="fa fa-female"></i>  
  </label>
  </div>
  </div>
  </div>

<button type="button" class="btn btn-primary btn-lg pull-right">Update</button>
</div>




<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    
<p>Dietray Habits : {{answer.dietaryhabit}}</p>
<p>Smoing Habits : {{answer.smokinghabit}}</p>
<p>Minimum Budget : {{answer.min_budget}}</p>
<p>Maximum Budget : {{answer.max_budget}}</p>
<p>Locality : ---</p>
<p>Alcoholic Habit : {{answer.alcoholichabit}}</p>
<p>Room Sharing : {{answer.room_sharing}}</p>
<p>Earliest Move in date : {{answer.earliest_move_in_date}}</p>
<p>Latest Move in date : {{answer.latest_move_in_date}}</p>

<button type="button" class="btn btn-primary btn-lg pull-right">Update</button>
</div>

<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-messages-tab">

  <div class="col-lg-6">
  <label for="exampleFormControlInput1">Current Password</label>
  <div class="input-group">
   <div class="input-group-addon">
   </div>
   <input class="form-control" id="number" name="number" type="password"/>
   </div> 
  </div>

  <div class="col-lg-6">
  <label for="exampleFormControlInput1">New Password</label>
  <div class="input-group">
   <div class="input-group-addon">
   </div>
   <input class="form-control" id="number" name="number" type="password"/>
   </div> 
  </div>
  
  <div class="col-lg-6">
  <label for="exampleFormControlInput1">Confirm Password</label>
  <div class="input-group">
   <div class="input-group-addon">
   </div>
   <input class="form-control" id="number" name="number" type="password"/>
   </div> 
  </div>
  <button type="button" class="btn btn-primary btn-lg pull-right">Change</button>

</div>
</div>
<br>
<br>
<br>
<button type="button" class="btn btn-primary center-block">Send Request</button>
</div>

</body>
</html>
​

